.component-example {
  margin-bottom: 60px;
}
.component-example .example-description {
  margin-bottom: 35px;
}
.component-example .example-description .text-group {
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: row;
  height: 22px;
  align-items: center;
}
.component-example .example-description .text-group > span {
  white-space: pre;
}
.component-example .example-description .bolded {
  font-weight: bold;
}
.component-example .example-description .italic {
  font-style: italic;
}
.component-example .example-description .striked {
  text-decoration: line-through;
}
.component-example .example-description .code-quote {
  font-family: monospace;
  background-color: rgb(208, 208, 208);
  color: rgb(94, 94, 94);
  padding: 1px 4px;
  border-radius: 3px;
}